body {
    display: flex;
    flex-direction: column;
}

header {
    
    display: flex;
    margin-top: auto;
}
.header-logo {
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

li {
    display: flex;
}

.section-1 {
    border: 0;
    padding: 10px;
    background-color:#1F2937;
}
img {
    max-width: 300px;
    height: 200px;
    float: right;
}