body {
    display: flex;
    flex-direction: column;
}

/*section 1*/

header {
    display: flex;
    margin-top: auto;
    flex-direction: row;
}
.header-logo {
    font-size: 18px;
    color: #e5e7eb;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

li {
    display: flex;
   
}

.section-1 {
    border: 0;
    padding: 10px;
    background-color:#1F2937;
}

.subtext, li {
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 5px 20px 5px 20px;
    border-radius: 8px;
}

img {
    max-width: 300px;
    height: 200px;
    float: right;
}

/*section 1*/