body {
    display: flex;
    flex-direction: column;
}

header {
    background-color: hex(#1F2937);
    display: flex;
    margin-top: auto;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}